.container_section{
    display: block;
    width: 100%;
    height: 100%;
}
.container_content_config{
    width: 99%;
    height: 90%;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}
.sub_container_config{
    width: 49%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
}
.imagenContainer{
    height: 150px; 
    border: 1px solid #c4c4c4; 
    width: 250px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.thumb-image{
    width: 248px;
    height: 148px  
}
.container_title_proyect{
    max-width: 450px; 
    width: 100%; 
    display: inline-block; 
    text-align: center; 
    margin-right: 10px; 
    vertical-align: top;
    border-top: 1px solid #989898;
    cursor: pointer
}
.label_hide{
    display: none !important;
}
.container_delete_title{
    height: 195px;
    border: 1px solid #9E0000;
    width: 240px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.button_delete{
    display: inline-block;
    background-color: #ffffff;
    border: none;
    color: #C10000;
    border: 1px solid;
    border-radius: 3px;
}
.button_delete:hover{
    background-color: rgba(193, 0, 0, 0.11);
    
}
.button_not_delete{
    width: 23%;
    display: inline-block;
    cursor: pointer
}
.button_not_delete:hover{
   color: 1px solid #007325;
   
}
.title{
   text-align: center;
   padding-top: 15px;
   padding-bottom: 15px;
   background-color: rgba(0, 42, 140, 0.13);
}
.mce-tinymce{
   width: 89% !important;
   margin: 0 auto !important;
}
.container_title_content_proyect{
    margin-bottom: 22px;
}
.container_content_proyect{
    width: 100%; 
    display: inline-block; 
    text-align: center; 
    vertical-align: top;
    cursor: pointer 
}
.container_button{
    margin-top: 20px;
}
.msj_proyect{
    color: green;
    margin-top: 10px;
}
.pagination{
    border: 1px solid #106396;
    width: 22px;
    margin-left: 5px !important;
}
#mceu_25{
    height: 215px !important;
}
#tinymce_ifr{
    height: 215px !important;
}
.container_all_title{
    height: 196px;
}
.separador{
    border-color: rgb(0, 42, 117);
    display: none;
}
.text_title_proyect{
    width: 84%; 
    display: inline-block;
}
.img_title_proyect{
    width: 65px; 
    display: inline-block;
    height: 48px;
}
.text_name_company{
    width: 275px;
    margin-right: 20px;
}
@media(max-width:1250px){
    #title_proyect{
        margin-top: 15px;
    }
    .text_name_company{
        text-align: center;
    }
}
@media(max-width:1000px){
    .sub_container_config{
        width: 100%;
    }
    .separador{
        display: block;
    }
    .container_title_proyect{
        max-width: 500px;
    }
}
@media(max-width:600px){
    .container_title_proyect {
        max-width: 430px;
    }
    .text_title_proyect{
        width: 80%; 
    }
    .sub_container_config{
        width: 95%;
    }
    .text_name_company{
	margin-bottom: 10px;
    }
}
@media(max-width:415px){
    
    .text_title_proyect{
        width: 75%; 
        font-size: 14px;
    }
    .sub_container_config{
        width: 90%;
    }
    #imgTitle{
        font-size: 13px;
    }
    .img_title_proyect{
        width: 55px;
        height: 40px;
    }
    .text_name_company{
        width: 244px;
        margin: 0 auto;
    }
}
