.container_object{
    display: inline-block; 
    width: 49%; 
    text-align: justify; 
    float: left; 
    margin-top: 32px;
}
.container_services_down{
    width: 55%;
    margin: 0 auto; 
    text-align: justify;
}
.container_blue{
    background-size: cover; 
    background-color: #A0B9B9;
}
.container_left_mision{
    width: 48%; 
    display: inline-block;
    float: left; 
    text-align: justify; 
    color: #ffffff;
}
.container_left_vision{
    width: 48%; 
    display: inline-block; 
    float: right; 
    text-align: justify;
    color: #ffffff;
}
.container_services{
    width: 100%; 
    display: inline-block;
    float: left
}
.container_certificate{
    width: 100%; 
    display: inline-block;
}
.container_img_certificate{
    display: inline-block; 
    width: 24%;
    text-align: center; 
    margin-bottom: 15px
}
@media(max-width:768px){
    .container_services{
        width: 100%;
    }
    .container_certificate{
        width: 100%;
    }
}
@media(max-width:600px){
    .container_object{
        width: 100%;
        text-align: center;
    }
    .container_services_down{
        width: 100%;
        text-align: center;
    }
    .container_left_vision{
        width: 100%;
    }
    .container_left_mision{
        width: 100%;
    }
}