.container_content_proyect{
    text-align: center; 
    width: 70%; 
    margin: 0 auto; 
    margin-top: 30px;
    margin-bottom: 18px;
}
.title_proyecto{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}
.text_proyect_sub{
    text-align: justify;
    width: 100%;
    margin: 0 auto;
}
.container_content_sub_proyect{
    text-align: center; 
    width: 70%; 
    margin: 0 auto; 
    display: block;
}
.sub_container_proyect{
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
    height: 200px;
    border-radius: 5px;
}
.container_text_proyect{
    text-align: center; 
    width: 70%; 
    margin: 0 auto; 
    margin-top: 30px;
}
.container_proyectos{
    width: 300px;
    display: inline-block;
    margin-top: 1%;
}
@media(max-width:1500px){
    .container_content_sub_proyect{
        width: 85%;
    }
}
@media(max-width:1250px){
    .container_content_sub_proyect{
        width: 99%;
    }
}
@media(max-width:350px){
    .title_proyecto{
        font-size: 16px;
        width: 70%;
    }
    .container_proyectos{
        width: 250px;
    }
}