
.container_content_services{
    text-align: center;
	width: 70%; 
    margin: 0 auto;
	margin-bottom: 3%;
}

.finish_services{
	padding-bottom: 25px
}

.container_title_services{
	color: #FFFFFF;
	height: 30px;
	padding-top: 4px;
}
