.timeline-Widget{
    margin: 0 auto !important;
}

#twitterImagen{
    text-align: center;
    background-color: rgba(146, 210, 197, 0.18);
    height: 63px;
}
.title_time_line{
    width: 130px;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: sub;
    color: #074573;
}
.twitter{
    margin-top: 20px;
}
.img_twitter{
    margin-top: 4px;
}
